@font-face {
  font-family: "pretendardB";
  src: url("@statics/fonts/Pretendard-Bold.ttf");
}
@font-face {
  font-family: "pretendardL";
  src: url("@statics/fonts/Pretendard-Light.ttf");
}
@font-face {
  font-family: "pretendardM";
  src: url("@statics/fonts/Pretendard-Medium.ttf");
}
@font-face {
  font-family: "pretendardSB";
  src: url("@statics/fonts/Pretendard-SemiBold.ttf");
}

@font-face {
  font-family: "MinSans-Bold";
  src: url("@statics/fonts/MinSans-Bold.ttf");
}
@font-face {
  font-family: "MinSans-Regular";
  src: url("@statics/fonts/MinSans-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("@statics/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("@statics/fonts/Montserrat-Regular.ttf");
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
  background-color: #f4f5f9;
  overflow-x: hidden;
}

a {
  width: 100%;
  color: inherit;
  text-decoration: none;
}
